.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(96, 87, 87);
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-height: 600px;
  overflow-y: auto;
}

.tag-list {
  list-style: none;
  padding: 0;
}

.tag-post {
  margin-bottom: 20px;
}

.tag-link {
  cursor: pointer;
  text-decoration: underline;
}